<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 p-4 rounded bg-claro shadow">
        <div class="container">
          <div class="row">
            <h3>{{name}}</h3>
            <div class="container profile-container py-3">
              <div class="info pl-5">
                <p>Email:  {{email}}</p>
              </div>
              <div class="avatar">
                <img src="{{photoUrl}}" class="img-fluid mb-1">
                <input id="file" input (change)="picked($event,1)"  value="Cambiar avatar" type="file" hidden>
                <label for="file" class="btn bg-blue-dark my-1" > Cambiar avatar</label>

                <button class="btn bg-blue-dark"  (click)="logout();">Cerrar sesión</button>
              </div>

            </div>
          </div>
     
        </div>
      </div>
    </div>

  </div>
</section>