@import "../../app.component.scss";


.critica{
    background: white;
    .avatar{
      width: 50px;
      border-radius: 50%;
      border: 3px solid $blue-dark;
      padding: 5px;
      background: white;
    }
    .name{
      width: 40%;
      position: relative;
      p{
        font-family: $semibold;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 25%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
      }
    }
    .texto{
      width: 100%;
      background: white;
      p{
        font-family: $semibold;
  
      }
    }
  }