@import "../../app.component.scss";

.critica {
  background: white;
  .avatar {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid $blue-dark;
    background: white;
    width: 60px;
    height: 60px;
    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }
  .name {
    display: flex;
    width: 85%;
    padding: 15px;
    justify-content: left;
    p{
      font-family: $semibold;
      height: 100%;
      transform: translateY(30%);
    }
  }
  .texto {
    width: 100%;
    background: white;
    p {
      font-family: $semibold;
    }
  }
}
