<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 p-4 rounded bg-claro shadow">
        <h3>{{name}} / {{artistas}} / {{ano}}</h3>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-xl-4 p-4 album-container">
              <img class="img-fluid" src={{img}}>
              <div class="d-flex justify-content-between">
                <div class="bg-blue-dark puntuacion text-center">
                  <p>{{albumPuntos}}</p>
                </div>
                <div class="dropdown bg-blue-dark tu-puntuacion text-center">
                  <button type="button" class="btn dropdown-toggle text-center" data-toggle="dropdown">
                    <p class="text-center text-light">{{userPuntos}}</p>
                  </button>
                  <div class="dropdown-menu text-dark">
                    <a class="dropdown-item" (click)=puntuar(1);>1</a>
                    <a class="dropdown-item" (click)=puntuar(2);>2</a>
                    <a class="dropdown-item" (click)=puntuar(3);>3</a>
                    <a class="dropdown-item" (click)=puntuar(4);>4</a>
                    <a class="dropdown-item" (click)=puntuar(5);>5</a>
                    <a class="dropdown-item" (click)=puntuar(6);>6</a>
                    <a class="dropdown-item" (click)=puntuar(7);>7</a>
                    <a class="dropdown-item" (click)=puntuar(8);>8</a>
                    <a class="dropdown-item" (click)=puntuar(9);>9</a>
                    <a class="dropdown-item" (click)=puntuar(10);>10</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-xl-8 p-4">
              <h5>tipo: {{type}}</h5>
              <h4>Canciones:</h4>
              <ul class="list-group list-group-flush songs-list">
                <li *ngFor="let cancion of canciones" class="list-group-item song">{{cancion}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-8 offset-sm-2 p-4 rounded bg-claro shadow criticas">
        <h3 class="pb-3">Críticas</h3>
        <div *ngIf="!hayCriticas">
          <p class="text-center">No hay criticas aún de este album, Escribe una ahora mismo</p>
        </div>
        <div *ngIf="hayCriticas">
          <app-critica [critica]=critica *ngFor="let critica of criticas" class="my-3">


          </app-critica>
        </div>
        <br>
        <hr>
        <br>

        <form class="form-group" #userForm="ngForm" (ngSubmit)="addCritica(userForm)">
          <label for="comment"> <h5>Nueva Crítica</h5></label>
          <textarea class="form-control" rows="5" name="text" [(ngModel)]="texto"></textarea>

          <div class="text-center">
            <button class="btn p-2 px-3 mt-4 publicar-critica" (click)=addCritica();>
              Publicar crítica
            </button>
          </div>
        </form>

      </div>

    </div>

  </div>

</section>