@import "../../app.component.scss";

h1,h2,h3,h4,h5,h6 {
    color: $grey;
    font-family: Righteous;
  }

.oculto{
  display: none !important;
}
.allWidth{
  width: 100% !important;
}
.publicar-critica{
  background: $blue-dark;
  color:white;
  border-radius: 0;
  font-family: $semibold;
}
.album{
    width: 400px;
    max-width: 400px;
    height: 400px;
    max-height: 400px;
}
.puntuacion{
  margin: 5px 0 5px 0;
  width: 70%;
  color: $light;
  display: table;
  height: 45px;

  p{
    display: table-cell;
    vertical-align: middle;
  }
}

.tu-puntuacion{
.dropdown-toggle::after{
  display: none;
}  
  margin:  5px 0  5px 5px;
  width: 30%;
  height: 45px;
  color: $light;
  display: table;
  p{
    display: flex;
    width: 100%;
    justify-content: center;
    vertical-align: middle;
  }
  button{
    width: 100%;
    height: 45px;
    text-decoration: none;
    display: table;
    p{
      margin-top: 3px;
      display: flex;
      width: 100%;
      justify-content: center;
      vertical-align: middle; 
    }
  }
}

.songs-list{
  .song{
    font-size: 90%;
    background: $light;
    font-family: $semibold;
  }
}

.criticas{
  button{
    font-family: $semibold;
  }
}


  