<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 p-4 rounded bg-claro shadow">

        <h3>Crear nueva cuenta de Musicstats</h3>

        <form class="" #userForm="ngForm" (ngSubmit)="agregar(userForm)">

          <div class="d-flex  flex-column">

            <div class="input-container justify-content-centerr">
              <h6>Nombre completo</h6>
              <input class="form-control" type="text" name="name" #apellidos="ngModel"
                [(ngModel)]="name">
            </div>


            <div class="input-container justify-content-centerr">
              <h6>Correo Electrónico</h6>
              <input class="form-control" type="text" name="email" #apellidos="ngModel" [(ngModel)]="email">
            </div>

            <div class="input-container justify-content-centerr">
              <h6>Contraseña</h6>
              <input class="form-control" type="password" name="password1" #apellidos="ngModel" [(ngModel)]="password1">
            </div>

            <div class="input-container justify-content-centerr">
              <h6>Confirma Contraseña</h6>
              <input class="form-control" type="password" name="password2" #apellidos="ngModel"
                [(ngModel)]="vpassword2">
            </div>


            <div class="button-container align-self-end">
              <button class="btn btn-dark">Registrarse</button>
            </div>

          </div>

        </form>

      </div>
    </div>
  </div>
</section>