<app-wellcome></app-wellcome>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 p-4 rounded bg-claro shadow">

        <h3 class="p-2 mb-4">Top 10 - España</h3>
        <div class="row p-1">
          <div class="container-fluid top text-center d-flex d-flex justify-content-around">
            <a routerLink="album/{{album.track.album.id}}" routerLinkActive="active" *ngFor="let album of topEspana" class="contenedor album">
                <img src={{album.track.album.images[0].url}} class="image img-fluid">
                <div class="overlay overlayBottom">
                    <div class="text">
                      {{album.track.album.name}}
                    </div>
                </div>
              </a>
          </div>
        </div>
        <div class="row p-1">
          <div class="container-fluid top text-center d-flex d-flex justify-content-around">
              <a routerLink="album/{{album.track.album.id}}" *ngFor="let album of topEspana2" class="contenedor album">
                  <img src={{album.track.album.images[0].url}} class="image img-fluid">
                  <div class="overlay overlayBottom">
                      <div class="text">
                        {{album.track.album.name}}
                      </div>
                  </div>
                </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>