<div class="navbar-main d-flex justify-content-between align-items-center shadow">

  <div class="tittle">
    <h1>Musicstats</h1>
  </div>

  <div class="search">
    <span class="fa fa-search form-control-feedback"></span>
    <input #termino list="albums" (input)="tcode=$event.target.value" (keyup)="buscar(termino.value)" type="text"
      class="form-control" id="usr">

    <div class="lista shadow" *ngIf="open">
      <div class="p-1 albuncito" *ngFor="let album of albums">
        <div class="foto">

          <img class="img-fluid" src={{album.images[2].url}} alt="">
        </div>
        <div class="texto">
          <p class="ml-1">{{album.name}}<br>
          {{album.artists[0].name}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="login">
    <a href="#">Iniciar Sesion</a>
    <span> / </span>
    <a href="#">Registrarse</a>
  </div>
</div>