<div class="navbar-main d-flex justify-content-between align-items-center shadow">

  <div class="tittle">
    <h1 routerLink="" routerLinkActive="active">Musicstats</h1>
  </div>

  <div class="search">
    <span class="fa fa-search form-control-feedback"></span>
    <input #termino list="albums" (click)="onInput();" (input)="tcode=$event.target.value" (keyup)="buscar(termino.value)" type="text"
      class="form-control" id="usr">

    <div class="lista shadow" *ngIf="open && !clicked">
      <div  *ngFor="let album of albums" (click)="onLink();">
        <a class="p-1 albuncito" (click)="goTo(album.id)">
          <div class="foto">

            <img class="img-fluid" src={{album.images[1].url}}>
          </div>
          <div class="texto">
            <p class="ml-1">{{album.name}}<br>
              <span>{{album.artists[0].name}}</span></p>
          </div>

        </a>
      </div>
    </div>
  </div>

  <div class="login">
    <a *ngIf="!session" routerLink="login">Iniciar Sesion</a>
    <span *ngIf="!session"> / </span>
    <a *ngIf="!session" routerLink="register">Registrarse</a>
    <div *ngIf="session" routerLink="profile" class="profile">
      <div class="nombre">
          <p>{{user[0]}}</p>
      </div>
      <div class="img">
        <img src="{{user[1]}}" class="img-fluid">
      </div>
    </div>
  </div>
</div>