@import "../../app.component.scss";

.navbar-main {
  height: auto;

  background: $blue-main;
  margin-bottom: 15px;
  @media screen and (max-width: 575px) {
    #main {
      display: block;
    }
  }
  .tittle {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: left;
    margin: 0;
    padding: 0;
    font-family: Righteous;
    h1 {
      font-size: 300%;
      margin-left: 10%;
      color: $blue-dark;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }
    h1::first-letter {
      color: $yellow;
    }
  }

  .search {
    width: 100%;
      height: auto;



    #albums::-ms-expand {
      display: none;
    }

    .form-control-feedback {
      justify-content: right;
      position: absolute;
      z-index: 2;
      width: 90%;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: right;
      pointer-events: none;
      color: $light;
    }
    .form-control {
      font-family: $semibold;
      color: $light;
      width: 100%;
      margin-top: 1.5rem;
      display: flex !important;
      justify-content: center !important;


      background-color: $blue-dark;
      border: none;
      border-radius: 0 !important;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .form-control::-webkit-calendar-picker-indicator {
      display: none;
    }
    i {
      right: 5%;
      font-size: 10%;
      background: url(/front/src/assets/icons/lupa.svg);
    }
  }

  .resultado {
    position: absolute;
    display: block;
    width: 100%;
    height: 150px;

  }

  .login {
    font-family: $semibold;
    // width: 25%;
    text-align: center;
    font-size: 1.05rem;
    color: $light;
    a {
      color: $light;
    }

    .profile{
      cursor: pointer;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      margin: 0;
      padding: 0;
      .nombre{
        width: 50%;
        position: relative;
        p{
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%)
        }
      }
      .img{
        background: white;
        border: $blue-dark solid 4px;
        border-radius: 50%; 
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        img{
          width: 100%;
          border-radius: 50%;
        }
      }
    }



  }
  .lista {
    background: $light;
    position: absolute !important;
    height: auto;
    margin-top: 0rem;
    width: 93%;
    z-index: 999;
    .albuncito {
      font-family: $semibold;
      display: flex;
      color: black;
      justify-content: left;
      text-decoration: none;
      transition: 0.5;
      border: solid $light 1px;
      .foto {
        width: 20%;
      }
      .texto {
        width: 80%;
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          span{
            font-size: 90%; 
          }
        }
      }
    }
    .albuncito:hover {
      border: solid $blue-dark 1px;
    }
  }
}
