<div class="navbar-main d-flex justify-content-between align-items-center shadow">

  <div class="tittle">
    <h1>Musicstats</h1>
  </div>

  <div class="search">
    <span class="fa fa-search form-control-feedback"></span>
    <input #termino list="albums" (keyup)="buscar(termino.value)" type="text" class="form-control" id="usr">
    <datalist id="albums">
      <option *ngFor="let album of albums">
          {{album.name}} - {{album.release_date}}
      </option>
    </datalist>
  </div>

  <div class="login">
    <a href="#">Iniciar Sesion</a>
    <span> / </span>
    <a href="#">Registrarse</a>
  </div>
</div>